*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./kitchen.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 3rem;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow;
}

.h1-container{
    margin-top: 3rem;
    padding: 2rem 0;
}
.image-container{
    padding: 2rem;
}
.list li{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}


div.image-container img{
    width: 100%;
    border-radius: 2rem;
}

input{
    border: none;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}